<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"layout":{"type":"constrained","contentSize":"62.5rem"}} -->
<main class="wp-block-group"><!-- wp:group {"className":"sidebar-layout","layout":{"type":"flex","flexWrap":"wrap","verticalAlignment":"top"}} -->
<div class="wp-block-group sidebar-layout"><!-- wp:group {"tagName":"article","metadata":{"name":"Article"}} -->
<article class="wp-block-group"><!-- wp:post-title /-->

<!-- wp:post-featured-image {"width":"","height":"","sizeSlug":"200x250"} /-->

<!-- wp:post-content {"layout":{"type":"default"}} /--></article>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"sidebar","area":"uncategorized","className":"site-sidebar"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"footer"} /-->